# Base de datos
DATABASE_URL="postgresql://usuario:password@localhost:5432/tu_db"
NEXT_PUBLIC_DATABASE_URL="postgresql://usuario:password@localhost:5432/tu_db"
NEXT_PUBLIC_SITE_URL=http://localhost:3001

# Autenticación (NextAuth)
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=clave_secreta_para_encriptar_cookies

# Autenticación Social (OAuth)
GOOGLE_CLIENT_ID=tu_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_google_client_secret
FACEBOOK_CLIENT_ID=tu_facebook_app_id
FACEBOOK_CLIENT_SECRET=tu_facebook_app_secret

# Pasarela de Pagos (Mercado Pago)
MERCADOPAGO_ACCESS_TOKEN=TEST-tu_access_token_de_mercadopago
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=TEST-tu_public_key_de_mercadopago

# Analytics (PostHog - Opcional)
# NEXT_PUBLIC_POSTHOG_KEY=phc_tu_key_aqui
# NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Base de datos / Cloud (Aiven)
AIVEN_API_TOKEN="tu_aiven_api_token"
AIVEN_PROJECT_NAME="nombre_de_tu_proyecto_aiven"
AIVEN_SERVICE_NAME="nombre_de_tu_servicio_aiven"

# Configuración Móvil (Expo)
EXPO_PUBLIC_API_URL=http://localhost:3001/api