# IP privada de tu PC + puerto de Next.js
EXPO_PUBLIC_BASE_URL=xxxxx
EXPO_PUBLIC_API_URL=xxxxx
EXPO_PUBLIC_SITE_URL=xxxxx

# Clave pública de MercadoPago
EXPO_PUBLIC_MERCADOPAGO_PUBLIC_KEY=APP_USR-xxxxx

EXPO_PUBLIC_GOOGLE_CLIENT_ID=xxxxx.apps.googleusercontent.com